.imgCover{
    object-fit: cover;
  }

.imgHeight{  
    height: 200px;
    width: 100%;
  }

  .searchSectionHeight{
    height: 75vh;
  }

.icSize{
  height: 14px;
  width: 14px;
  object-fit:contain
}